.our_courses{
    background-image: url(../assests/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.def_yellow{
    /* color: #f1c40f; */
    border-bottom: 4px solid #f1c40f !important;
}
