.banner{
    background-image: url('../../assests/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    /* opacity: 40%; */
    /* filter: brightness(40%); */
}